<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Display Media Details</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
</head>

<body>
	<p th:text="${success}"></p>
	<p th:text="${delete}"></p>
	<p th:text="${error}"></p>
	<div class="container my-2">
		<p class="my-5">
			<a th:href="@{/register}" class="btn btn-primary"><i
				class="fas fa-user-plus ml-2"> Add Media Member</i></a>
		</p>
		<div class="card">
			<div class="card-body">
				<table class="table table-striped table-responsive-md">
					<thead>
						<tr>
							<th>Email</th>
							<th>Location</th>
							<th>Name</th>
							<th>Phone No</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
						<tr th:each="media : ${mediaData}">
							<td th:text="${media.email}"></td>
							<td th:text="${media.location}"></td>
							<td th:text="${media.name}"></td>
							<td th:text="${media.number}"></td>
							<td><a th:href="@{/media/edit/{id}(id=${media.id})}"
								class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
							<td><a th:href="@{/media/delete/{id}(id=${media.id})}"
								class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>


						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</body>

</html>